<font color="white">
    <h1><%= @zoo.name %></h1>
    <h3><%= @zoo.location %><br>
        <img src= <%= @zoo.image %> alt="rss feed" /><br>
        <%= link_to "Plan a Visit", new_user_path %></h3>
<p>Come visit our park. Our beautiful island is full of adventure and wonder.  It also is the home of wonderous creatures that walked the Earth millions of years ago. Isla Nublar, is a remote island 120 miles (190 km) west of Costa Rica, 87 miles east of the Muertes Archipelago. The island has a surface of 77 square kilometers (30 square miles) with mountain ridges which created varied ecological niches.</p>
        
    
</font>

