<font color="white">

    <h1>Please Print Out Your Ticket</h1>
    <h2><u>Purchase Summary</u></h2>
    <h3><%= @ticket.attraction.name %><br>

        <p>Date: <%= @ticket.created_at.time.to_s(:long) %><br>
            1x Ticket : ........................$<%= @ticket.price %><br>
            __________________________________
        </p>
        <img src="https://mk0xucobucefof4dkp4y.kinstacdn.com/wp-content/uploads/2015/01/Jan-27-2015-Types-of-Barcodes-Choosing-the-Right-Barcode-UPC-CODE.jpg" alt="rss feed" />
    </h3>
    <%= link_to "Order History", user_tickets_path(@ticket.user.id) %>
    </h3>
</font>